name: TON Deposit Checker

on:
  workflow_dispatch:
  schedule:
    - cron: "*/1 * * * *"

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install

      - name: Run node script
        run: node checkDeposits.js
        env:
          WALLET_ADDRESS: ${{ secrets.WALLET_ADDRESS }}
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          FIREBASE_DB_URL: ${{ secrets.FIREBASE_DB_URL }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
